      <h2>{{title}}</h2>
      <h4>{{message}}</h4>
      <p>To proceed choose one of the following:</p>

      <ol>
          <li><a href="/data">/data</a> to get items from database</li>
          <li><a href="/send">/send</a> to send items to database</li>
      </ol>
