<h4>{{message}}</h4>
     
<form id="login-form" class="form-horizontal">
    <div class="form-group">
        <label for="studentNumber" class="col-sm-2 control-label">Student Number</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="studentNumber" >
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Full name</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="name" >
        </div>
    </div>

    <div class="radio">
            <label>
                <input type="radio" name="program" value="110">
                110
            </label>
    </div>

    <div class="radio">
            <label>
                <input type="radio" name="program" value="120">
                120
            </label>
    </div>
    
    <div class="form-group">
        <label for="courses" class="col-sm-2 control-label">Course #1</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="courses" >
        </div>
    </div>

    <div class="form-group">
        <label for="courses" class="col-sm-2 control-label">Course #2</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="courses">
        </div>
    </div>

    <div class="form-group">
        <label for="courses" class="col-sm-2 control-label">Course #3</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="courses">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" formmethod="post" formaction="/send">Send</button>
        </div>
    </div>

</form>