    <h2>{{title}}</h2>
    <h4>{{message}}</h4>

    <form id="student_form">
       Student number : <input type="text" name="studentNumber"/> <br />
       Full name : <input type="text" name="name" /> <br />
       Program : 
        <br />110<input type="radio"  name="program" value="110" /> <br />
        120<input type="radio" , name="program" /> <br />
       Courses : 
        <br /><input type="text" , name="courses" /> <br />
        <input type="text" , name="courses" /> <br />
        <input type="text" , name="courses" /> <br />

        <input type="submit" formmethod="post" formaction="/send" value="Submit" />
    </form>